$white:          #ffffff;
$grey-lightest:  #FAFAFA;
$grey-lighter:   #E8E8E8;
$grey-light:     #A1A1A1;
$grey:           #8C8C8C;
$grey-dark:      #6E6E6E;
$grey-darker:    #313136;
$grey-darkest:   #1c1d21;
$black:          #0e1015;
$orange-lighter: #feddb7;
$orange-light:   #fdbe77;
$orange:         #ff8c00;
$orange-dark:    #e67812;
$orange-darker:  #d66000;
$turquoise:      #008293;

// // brand colours
// $b-red: #ff0000;