---
layout: project
case-study: true

id: lexus-the-design-collection
title: "Lexus: The Design Collection"
group-parent: work
group-order: 4

intro: >
  <p class="text--xl">A new car, a new concept. The new Lexus UX provided a very different challenge to the previous Lexus RX campaign we ran. </p>

live-url: "http://m-stg.secretescapes.com/2019/lexus-design-collection/uk/"

details:
  - key: Date
    val: 2019
  - key: Client
    val: Lexus
  - key: Territories
    val: United Kingdom, Germany, Spain, Italy, Norway, Sweden
  - key: Outcomes
    val: Video, Website, Display, Email

highlights:
  - key: Unique views
    val: "122,000"
  - key: Competition entries
    val: "9,058"
  - key: Test drives
    val: "174"

challenge: >
  <h2 class="title title--lg">The challenge</h2>
  <p class="text--xl">Align the new Lexus UX with some of Secret Escapes most design-forward properties, complementing the unique style of the car and highlighting its purpose as the perfect urban-escape automobile. Generate test drives and capture data, and create assets that Lexus dealerships can use. Launch localised content in six markets.</p>

solution: >
  <h2 class="title title--lg">The solution</h2>
  <p class="text--xl">We created a bespoke Design Collection, sourcing our finest city-based design hotels and crafting localised design-lover’s city guides for each territory. This theme was fully explored in the two hero videos we made (one for the UK, one for EU), which showed our influencer experience a design getaway to two cities, staying at incredible Secret Escapes hotels, all facilitated by the Lexus UX. </p>

result: >
  <h2 class="title title--lg">The results</h2>
  <p class="text--xl">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

hub-london: >
  <h4 class="title title--sm title--sans">Title</h4>
  <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
  <a href="#" class="link link--external">View here</a>

display: >
  <h4 class="title title--sm title--sans">Title</h4>
  <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
  <a href="#" class="link link--external">View here</a>

hub-lookbook: >
  <h4 class="title title--sm title--sans">Title</h4>
  <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>

---


{% include project/layouts/video.html video-id="dxOOartTmMs" %}

{% include project/layouts/content.html content=page.challenge %}

<div class="container container--100 container--no-padding">
  {% include project/layouts/image.html image="wide2.jpg" ratio="2-1" %}
</div>

<div class="container">
  <div class="row row--6-6">
    <div class="col">
      {% include project/layouts/image.html image="1.jpg" ratio="1-1" %}
    </div>
    <div class="col">
      {% include project/layouts/image.html image="2.jpg" ratio="1-1" %}
    </div>
    <div class="col">
      {% include project/layouts/image.html image="3.jpg" ratio="1-1" %}
    </div>
    <div class="col">
      {% include project/layouts/image.html image="4.jpg" ratio="1-1" %}
    </div>
  </div>
</div>

{% include project/layouts/content.html content=page.solution %}

{% include project/layouts/section-longscroll.html image="hub-lookbook.jpg" content=page.hub-lookbook %}

<div class="container">
  {% include project/layouts/image.html image="display.jpg" ratio="16-9" %}
  {% include project/layouts/content.html content=page.display %}
</div>

{% include project/layouts/section-longscroll.html image="hub-london.jpg" content=page.hub-london flip="true" %}

{% include project/layouts/content.html content=page.result %}

