---
layout: default
id: home
nav: true
nav-order: 1
title: Home

banner:
  content: >
    <h1 class="title title--xxl">Crafting engaging digital experiences to inspire the world</h1>

intro: >
  <p class="text--xl">Our core goal is to inspire and motivate our members to experience unforgettable travel around the world. Our discerning, global audience comes to us precisely for such inspiration, through the beautiful and luxurious hotels we offer and the in-the-know content we create. We can put your brand front and centre of this conversation, allowing you to speak directly to our members. </p>
  <p class="text--xl">Through creative concepts and innovative solutions, we will craft high-performing, bespoke campaigns across web, social, video, email and display, proven to captivate our members and influence their wanderlust. </p>

clients:
  title: Who we work with
  content: Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.

services:
  title: What we deliver
  content: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.
  items:

    - id: thing1
      title: Audience segmentation

    - id: thing2
      title: Incremental bookings

    - id: thing3
      title: Engagement

    - id: thing4
      title: Brand awareness and storytelling

    - id: thing5
      title: Bespoke creative solutions

    - id: thing6
      title: True brand integration


---




<div class="container">
  <div class="row row--no-gutters">
    <div class="col col--3">
      <h2 class="title title--md">Our mission</h2>
    </div>
    <div class="col col--9">
      {{page.intro}}
    </div>
  </div>
</div>




<div class="bg--white vpad--xl">

  <div class="container container--lg">
    <h2 class="title title--xl">{{page.clients.title}}</h2>
    <p class="text--lg">{{page.clients.content}}</p>
  </div>

  <div class="space--xl"></div>
  <div class="container">
    <div class="bg--grey text--white">logos</div>
  </div>

  <div class="space--xxxl"></div>

  <div class="container container--lg">
    <h2 class="title title--xl">{{page.services.title}}</h2>
    <p class="text--lg">{{page.services.content}}</p>
  </div>
  <div class="space--xl"></div>

  <div class="container">
    <div class="row">
      {% for item in page.services.items %}
      <div class="col col--2 text--center">
        <div class="bg-img bg-img--1-1 bg-img--circle"></div>
        <div class="space--xs"></div>
        <h4 class="title title--xxxs">{{item.title}}</h4>
      </div>
      {% endfor %}
    </div>
  </div>

</div>




<div class="bg--grey-lightest vpad--xl">
  <div class="container">
    <div class="row">

      <div class="col col--8">
        <h2 class="title title--lg">Case studies</h2>
        <p class="text--lg">Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Donec id elit non mi porta gravida at eget metus.</p>
      </div>

    </div>
    <div class="space--xl"></div>
    <div class="row row--6-6">
      {% assign projects = site.html_pages | where: 'layout', 'project-casestudy' | sort:'group-order' %}
      {% for project in projects %}
      <div class="col">
        {% include project/casestudy-tile.html %}
      </div>
      {% endfor %}
    </div>

    <div class="space--xxl"></div>
    <div class="text--center">
      <a href="{{site.baseurl}}/work" class="btn btn--solid btn--lg">View all work</a>
    </div>
  </div>

</div>