---
layout: project
case-study: true

id: british-airways-new-orleans
title: "British Airways: New Orleans"
group-parent: work
group-order: 3

intro: >
  <p class="text--xl">After a successful campaign the previous year, British Airways and the New Orleans Tourist Board came to us to build on the momentum we had achieved during the last campaign.</p>

live-url: "http://m-stg.secretescapes.com/uk/2018/british-airways-new-orleans"

details:
  - key: Date
    val: 2018
  - key: Client
    val: British Airways
  - key: Territories
    val: UK
  - key: Outcomes
    val: Video, Website, Display, Email

highlights:
  - key: Video views
    val: "15,399"
  - key: Social engagements
    val: "14,811"
  - key: Reach
    val: "5,883,066"




challenge: >
  <h2 class="title title--lg">The Challenge</h2>
  <p class="text--lg">Taking our learnings from the previous New Orleans hub, we needed to build on our content offering and create a new way to promote the destination to our members. We also needed to promote the direct route British Airways were offering, and tie in bookable holidays so our members were inspired to book their own NOLA experience. </p>

solution: >
  <h2 class="title title--lg">The Solution</h2>
  <p class="text--lg">We picked four themes proven to resonate with our members, creating an inspirational guide with local’s tips included to underpin our hero piece – a video guide to the city, presented by our editor. The content was supported by CTAs making it clear that British Airways offered the best way to reach the city, with a ‘holidays’ page packed with tempting deals. </p>

result: >
  <h2 class="title title--lg">The Result</h2>
  <p class="text--lg">After browsing the content on the site and learning more about New Orleans, 15% of users went on and clicked through to British Airways direct.</p>





overview-content: >
  <hr>
  <h4 class="title title--sm">Microsite</h4>
  <p>"Piercing brass and hot, jazz-fuelled nights on Frenchmen Street, steaming bowls of gumbo and sipping a sazerac in the Quarter, shotgun homes and decorated French mansions – New Orleans is a heady concoction of spellbinding cultural pursuits."</p>
  <a href="http://m-stg.secretescapes.com/uk/2018/british-airways-new-orleans/" class="link link--external" target="_blank">View live</a>

guide-content: >
  <hr>
  <div class="title title--sans text--upper text--wide text--bold">Microsite</div>
  <div class="space--xxs"></div>
  <h4 class="title title--sm">Explore NOLA</h4>
  <p class="text--lg">"New Orleans, or NOLA, as the locals say, offers fortuitous adventure on every street."</p>
  <a href="http://m-stg.secretescapes.com/uk/2018/british-airways-new-orleans/explore/" class="link link--external" target="_blank">View live</a>

flights-content: >
  <h4 class="title title--sm">Fly non-stop to New Orleans</h4>
  <p class="text--lg">"British Airways is the only airline to offer year-round, direct flights from London. Relax on the state-of-the-art 787 Dreamliner, featuring World Traveller economy, or upgrade to premium economy or to the luxury of Club World business class, all set to whisk you away to the birthplace of jazz and sazeracs in comfort and ease. Why wait? Book now to realise your NOLA dream."</p>


---



{% include project/layouts/video.html video-id="unInkhcjVZk" %}



{% include project/layouts/content.html content=page.challenge %}


<div class="container">
  {% include project/layouts/image.html image="display.jpg" ratio="16-9" %}
</div>

<div class="container">
  <div class="row">
    <div class="col col--6">
      {% include project/layouts/image.html image="1.jpg" ratio="4-3" %}
    </div>
    <div class="col col--6">
      {% include project/layouts/image.html image="2.jpg" ratio="4-3" %}
    </div>
  </div>
</div>




{% include project/layouts/content.html content=page.solution %}




{% include project/layouts/section-longscroll.html image="hub-overview.jpg" content=page.overview-content flip="true" %}

{% include project/layouts/section-longscroll.html image="hub-explore.jpg" content=page.guide-content %}

{% include project/layouts/section-background.html background="flights-bg.jpg" content=page.flights-content %}




{% include project/layouts/content.html content=page.result %}