<!-- standard microsite navigation -->
<!-- has a modifier for footer theme, which changes the colour and removes the group nav -->

<!-- pages that appear in the site navigation -->
{% assign nav-pages = site.html_pages | where: 'nav', 'true' | sort: 'nav-order' %}

<div class="site-nav__list">
  {% for nav-page in nav-pages %}
    <a class="site-nav__list-link{% if nav-page.id == page.id or nav-page.id == page.group-parent %} is-current{% endif %}" href="{{site.baseurl}}{{nav-page.url}}">
      {% if nav-page.nav-title %}
        {{nav-page.nav-title}}
      {% else %}
        {{nav-page.title}}
      {% endif %}
    </a>
  {% endfor %}
</div>

