// the title banner that appears at the top of every page. sometimes animated bgs

.banner {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 40%;
  min-height: 150px;
  max-height: 400px;
  @include bp($lg){
    height: 60%;
    min-height: 250px;
    max-height: none;
  }
  &__wrap {
    position: relative;
    z-index: $z-content-upper;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    @include page-padding;
  }
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: calc(50% - 290px);
    z-index: $z-content;
    background-color: $grey-light;
    @include background-attributes;
  }
  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: $z-content;
    background-color: $grey-light;
    @include background-attributes;
  }
  &__overlay {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba($black,0.2);
  }
  &__nav {
    // optional container for navigation include
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $z-nav;
    &--top {
      top: 0;
      bottom: auto;
    }
  }

  &__fade {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0)),to(white));
    background: -o-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0 );
  }
}

.layout--project {
  & .banner {
    color: $white;
    & .title { color: $white;  }
  }
}