.btn {
  position: relative;
  display: inline-block;
  padding: $s0 $s3;
  color: $white;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .15em;
  line-height: 1.33;
  border-radius: 3px;
  cursor: pointer;
  @include transition;
  &--sm { padding: $s-1 $s3; font-size: 12px; }
  &--lg { padding: $s1 $s6; font-size: $s-1; }
  &--orange { background-color: $orange;
    &:hover { background-color: $orange-dark; }
  }
  &--outline {
    color: inherit;
    &:before {
      // button border within original padding
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-width: 1px;
      border-style: solid;
      border-radius: inherit;
      @include transition;
    }
  }
  &--outline-white {
    &:before { border-color: rgba($white,0.2); }
    &:hover {
      border-color: rgba($white,0.8);
      &:before { border-color: rgba($white,0.8); }
    }
  }
  &--outline-orange {
    &:before { border-color: $orange; }
    &:hover {
      background-color: $orange;
      &:before { border-color: $orange; }
    }
  }
  &--outline-turq {
    &:before { border-color: $turquoise; }
    &:hover {
      background-color: $turquoise; color: $white;
      &:before { border-color: $turquoise; }
    }
  }

  &--solid {
    background-color: $turquoise; color: $white;
    &:hover { background-color: darken($turquoise,5); }
  }

  &--black {
    background-color: $grey-darkest; color: $white;
    &:hover { background-color: $black; }
  }

  &--white {
    background-color: rgba($white,0.8); color: $grey-darkest;
    &:hover { background-color: $white; }
  }

  &--arrow {
    background-image: url('../img/icons/arrow-right.svg');
    background-size: 0.75em;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 999px;
    border: 1px solid rgba($white,0.2);
    width: 3em; height: 3em;
    padding: 0;
    &:hover { background-color: $grey-darker; }
  }

  &--icon:after {
    content: "";
    height: 18px; width: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: top;
    margin-left: 8px;
    width: 16px;
  }
  &--icon-external:after { background-image: url('../img/icons/icon-external-link.svg'); }
  .text--white &--icon-external:after { background-image: url('../img/icons/icon-external-link-wh.svg'); }

}
