// general styles for the project that wouldn't be a reuseable component


/* =================================================
 * HOME PAGE
 */

.clients {
  &__logo {
    background-size: 75%;
    &-sandals{ background-size: 60%; }
    &-hunter { background-size: 60%; }
    &-nikon { background-size: 50%; }
  }
}

.services {
  &__item {
    &-icon {
      background-size: 50%;
      border: 1px solid rgba($grey-darkest,0.1);
      box-shadow: 0 0 15px 0 rgba($grey-darkest,0.1);
    }
  }
}


.project-tile {
  display: block;
  position: relative;
  min-height: 400px;
  width: 100%;
  @include background-attributes;
  @include transition;
  &--sm {}
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-upper;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    text-align: center;
    @include page-padding;
    & .title { color: $white; }
  }
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-overlay;
    cursor: pointer;
  }
  &__overlay {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black,0.2);
  }
}



/* =================================================
 * PROJECT PAGE
 */

.layout--project {
  & .logo__svg .st0 { fill: $white; }
}

.project {

}

.scrolltrack {

  position: relative;
  justify-content: left;
  &__image {
    align-self: left;
    position: relative;
    left: 0;
  }
  &__content {
    position: absolute;
    top: 0;
    right: 0;
    .is-fixed & {
      position: fixed;
    }
    .is-parked & {
      position: absolute;
      top: auto;
      bottom: 0;
    }
    .row--reverse & {
      right: auto;
      left: 0;
    }
  }
}





/*== PROJECT SLIDER ==*/

$icon-size-sm: 2.4em;
$icon-size: 3.6em;

.project-gallery {
  position: relative;
  display: block;
  &__slide-sizer {
    position: relative;
    z-index: 0;
    visibility: hidden;
    width: 100%;
    &:before {
      content: '';
      display: block;
      position: relative;
      width: 100%;
      padding-top: 56.25%;
    }
  }
  &__slide {
    @include modaltransition();
    width: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    &.is-open     { left: 0; opacity: 1; }
    &.is-opening  { left: 0; opacity: 1; }
    &.is-closing-next  { left: -$modaltransition-distance; opacity: 0; }
    &.is-closing-prev  { left: $modaltransition-distance; opacity: 0; }
    &.is-closed   { left: 0; opacity: 0; }
    &.is-prev     { left: -$modaltransition-distance; }
    &.is-next     { left: $modaltransition-distance; }
  }

  &__nav {

    @include transition;
    display: block;
    position: absolute;
    bottom: 0;
    height: $icon-size-sm;
    width: 50%;
    z-index: $z-overlay-upper;
    background-color: rgba($black,0.8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    user-select: none;
    border-radius: 999px 0 0 999px;
    &:hover{ background-color: $black; }
    @include bp($lg){
      bottom: auto;
      position: absolute;
      top: 50%;
      margin-top: -$icon-size;
      height: $icon-size*2;
      width: $icon-size;
    }

    &--next {
      background-image: url('../img/icons/arrow-right.svg');
      right: 0;
      border-radius: 0 999px 999px 0;
      @include bp($lg){
        right: -$icon-size;
      }
    }
    &--previous {
      background-image: url('../img/icons/arrow-left.svg');
      left: 0;
      @include bp($lg){
        left: -$icon-size;
      }
    }

  }
}



/* == WORK PROMO BANNER ==*/

.work-promo {
  position: relative;
  background-color: $grey-darkest;
  &__content,
  &__link {
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    z-index: $z-content-upper;
    display: flex;
    align-items: center;
  }
  &__link { z-index: $z-content-overlay; }
  &__bg {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 0; left: 0;
      right: 0; bottom: 0;
      background-color: rgba($grey-darkest,0.5);
      z-index: 1;
    }
  }
}






/* =================================================
 * AUDIENCE PAGE
 */

.reach {
  position: relative;
  &__content {
    pointer-events: none;
    position: absolute;
    z-index: $z-content-overlay;
    top: 0; left: 0;
    right: 0; bottom: 0;
    & a { pointer-events: all; }

    background: -moz-linear-gradient(-45deg,  rgba(14,16,21,0.7) 0%, rgba(14,16,21,0) 50%);
    background: -webkit-linear-gradient(-45deg,  rgba(14,16,21,0.7) 0%,rgba(14,16,21,0) 50%);
    background: linear-gradient(135deg,  rgba(14,16,21,0.7) 0%,rgba(14,16,21,0) 50%);

  }
}




