---
layout: default
---


<div class="vpad--xxl">
  <div class="container">
    <div class="width width--lg">
      {{page.intro}}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% assign projects = site.html_pages | where: 'group-parent', page.id | sort:'group-order' | reverse %}

    {% for project in projects %}
      {% if project.case-study %}
        <div class="col col--6">
          {% include project/casestudy-tile.html %}
        </div>
      {% endif %}
    {% endfor %}

    {% for project in projects %}
      {% unless project.case-study %}
        <div class="col col--4">
          {% include project/tile.html %}
        </div>
      {% endunless %}
    {% endfor %}
  </div>
</div>

<div class="space--xxxl"></div>