---
layout: project
case-study: true

id: nikon-home
title: "Nikon: HOME"
group-parent: work
group-order: 5

intro: >
  <p class="text--xl">This campaign was our second opportunity to work with Nikon. The previous campaign, Capture the Journey, had yielded incredible results, showing that our Nikon content really engaged our audience. With this new opportunity, we had a wealth of learnings to apply to our next creative offering.</p>

live-url:

details:
  - key: Date
    val: 2019
  - key: Client
    val: Nikon
  - key: Territories
    val: UK
  - key: Outcomes
    val: Video, Website, Display, Email

highlights:
  - key: Video views
    val: "261,257"
  - key: Unique hub views
    val: "80,514"
  - key: Reach
    val: "16,026,655"

challenge: >
  <p>Inspire and educate our members and wider audiences about Nikon’s new mirrorless Z 7 camera. Photography and travel are a great match, but we still needed to craft a meaningful partnership; Nikon were clear that they wanted to see something mutually beneficial, so our offering needed to feel truly valuable and honest to our members. </p>

solution: >
  <p>We created a multi-platform campaign, with a phased content release. The idea was to find two photographers, both from inspiring and very different parts of the world, and have them show each other around their favourite photo locations. Mixing the incredible landscapes of Norway and the urban scenes of Singapore, we could show off two photographic disciplines, show the versatility of the camera, and create a beautiful travel piece that would be recognisable to our members whilst still having Nikon at the forefront of the narrative. Two films were made, one for each location, and both were also filmed on the Nikon Z 7. A supporting microsite showcased the photographs from the trip, with meaningful interpretation of each by our photographers, plus a print photobook that we sent out to members and also gave to Nikon for their Nikon School. </p>

result: >
  <p>29% of the 6,500 video views generated across the content hub were completed in full, showing that the video content we created was both highly engaging and a highly effective way to communicate with the Secret Escapes audience.</p>

---


{% include project/layouts/video.html video-id="dxOOartTmMs" %}

{% include project/layouts/content.html content=page.challenge %}

{% include project/layouts/content.html content=page.solution %}

{% include project/layouts/content.html content=page.result %}