---
layout: project
case-study: true

id: winter-in-germany
title: Winter in Germany
group-parent: work
group-order: 8

intro: >
  <p class="text--xl">Following the success of our previous Germany campaigns, the tourist board came to us once more to promote winter in Germany to our members. </p>

live-url:

details:
  - key: Date
    val: 12/12/12
  - key: Client
    val: German National Tourist Board
  - key: Territories
    val: UK
  - key: Outcomes
    val: Website, Display, Email

highlights:
  - key: Video views
    val: "81,108"
  - key: Competition entries
    val: "4,996"
  - key: Homepage clicks
    val: "8,495"

challenge: >
  <p>The German tourist board had a range of passion points they wanted us to cover. From wellness to festive markets, we needed to tie together a range of experiences in an inspiring, multi-platform campaign, and then go on to launch and localise that across three territories: UK, BE & NL.</p>

solution: >
  <p>A central microsite hosted diverse pieces of content, including a countdown advent calendar integrated into a display campaign. Covering themes like wellness, festive markets and winter to-dos, our hub became the go-to for winter inspiration. Underpinning this content was a ‘Winter in Germany’ film, which saw our editor show the best of seasonal Germany from Berlin to the Bavarian Alps. Our content was complemented by a range of handpicked offers for our members to book. </p>

result: >
  <p>In the UK, we saw a YoY uplift on bookings of 17.72%, with a further uplift of 11.94% on room nights, an indication that our travel guides had inspired our members to book, and explore further, the delights of a winter in Germany. </p>

---


{% include project/layouts/video.html video-id="dxOOartTmMs" %}

{% include project/layouts/content.html content=page.challenge %}

{% include project/layouts/content.html content=page.solution %}

{% include project/layouts/content.html content=page.result %}